<ul class="list3" >
    <li class="agent"  >
      {{ data.fleetOwner?.name ? data.fleetOwner.name : "NA"}}


 

      <li class="vehicle">
        {{ data.vehicle.vtsDeviceId ? data.vehicle.vtsDeviceId : 'NA' }}

      </li>
      
    <li class="branch">
      {{ data.branch?.name ? data.branch.name:"NA"}}

    </li>

    <li class="load">
      {{ data.vehicleLoadType?.bodyType ? data.vehicleLoadType.bodyType:"NA"}}

    </li>

    <li class="driver">
      {{ data.driver?.name ? data.driver.name:"NA"}}

    </li>
    <li class="source" [class.green]="data.status" [class.red]="!data.status">
      {{ data.status ? data.status:"close"}}

    </li>
  </ul>
  


