<!-- <nav class="navbars">
  <ul class="nav-list">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav> -->
<!-- <app-header (search)="search($event)"></app-header> -->
<!-- <div class="main-container">
  <ul class="lists">
    <li class="list">
    </li>
    <li class="list">Driver</li>

    <li class="list">vehicle</li>
    <li class="list">Branch</li>
    <li class="list">vehicleLoadType</li>
    <li class="list">fleetOwner</li>

    <li class="list">source</li>


  </ul>
  </div>
   
      <ul class="list3" *ngFor="let data of searchBar()">
        <li class="agent"  >
          {{ data.fleetOwner?.name ? data.fleetOwner.name : "NA"}}


     

          <li class="vehicle">
            {{ data.vehicle.vtsDeviceId ? data.vehicle.vtsDeviceId : 'NA' }}

          </li>
          
        <li class="branch">
          {{ data.branch?.name ? data.branch.name:"NA"}}

        </li>

        <li class="load">
          {{ data.vehicleLoadType?.bodyType ? data.vehicleLoadType.bodyType:"NA"}}

        </li>

        <li class="driver">
          {{ data.driver?.name ? data.driver.name:"NA"}}

        </li>
        <li class="source" [class.green]="data.status" [class.red]="!data.status">
          {{ data.status ? data.status:"close"}}

        </li>
      </ul>
      

    

 -->
<app-container></app-container>
