<!-- <div class="container">
    <h1 class="main-heading">Tender Register: All</h1> -->
  <!-- <app-search [myInput]="searchBar"></app-search> -->
  
 
  <div class="main-container" >
    <ul class="lists">
      <li class="list">
      </li>
      <li class="list">Driver</li>
  
      <li class="list">vehicle</li>
      <li class="list">Branch</li>
      <li class="list">vehicleLoadType</li>
      <li class="list">fleetOwner</li>
  
      <li class="list">source</li>
  
  
    </ul>
    </div>
    <app-item *ngFor="let data of filteredList " [data]="data"></app-item>